<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bikesharesystemapp">   //封装的名字，不同的项目在此修改打包名字

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:name="com.example.bikesharesystemapp.utils.MyApp"
        android:icon="@mipmap/ic_launcher_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmingSystemApp">

        <activity
            android:name="com.example.bikesharesystemapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>